@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/aboutstyel.css" rel="stylesheet" />
</head>
<section class="wrapper">
    <div class="container-fostrap">
        <div>
            @*<a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">               
                <img src="~/images/partners/Extra inch true logo.png" />
            </a>*@
            @*<a class="heading">
                Our Services
            </a>*@
        </div>
        <div class="content">
            <!--1st Div-->
            <div class="container" style="background-color:skyblue">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <a class="img-card">                              
                                <img src="~/images/Bantu-LoginScreenshot .png" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="https://extrainch.co.ke/Home/Index">
                                        Bantu CBS
                                    </a>
                                </h4>
                                <p class="">
                                    This is a Management Information System (On-Premise/Hosted) that helps Saccos,banks,
                                    MFIs to easily on-board and manage customers,manage financial data e.g savings, loan issuance and tracking e.t.c
                                    ,and internal processes such as Asset management and payroll processing
                                </p>
                            </div>
                            @*<div class="card-read-more">
                            <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <a class="img-card" >
                                <img src="~/images/supreme.png" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a>
                                        Supreme On Tablet
                                    </a>
                                </h4>
                                <p class="">
                                    To empower members undertake a development project with long term benefits e.g. residential or commercial buildings and other investments.
                                    Security can be either a plot or house...
                                </p>
                            </div>
                            @*<div class="card-read-more">
                            <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <a class="img-card">                              
                                <img src="~/images/Internet_Banking.png" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a>
                                        Internet Banking
                                    </a>
                                </h4>
                                <p class="">
                                    BANTU-E solution is a compliementary 24-hour online banking service,i.e one can do their banking from the computer or any web enabled device anytime and anywhere they choose ...
                                </p>
                            </div>
                            @*<div class="card-read-more">
                            <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <!--2nd Div-->
            <div class="container" style="background-color:skyblue">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <a class="img-card">
                                <img src="~/images/mobile-banking.jpg" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a>
                                        Mobile Banking (USSD/Android)
                                    </a>
                                </h4>
                                <p class="">
                                    It allows users to perform banking&non-banking transactions using phones ...
                                </p>
                            </div>
                            @*<div class="card-read-more">
                            <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <a class="img-card">
                                <img src="~/images/AbutoAppCapture.png" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a>
                                        Loan ChapChap
                                    </a>
                                </h4>
                                <p class="">
                                    To help members have easy access to short or long term loans as per the organization
                                    regulations & can also be accessed on USSD platform...
                                </p>
                            </div>
                            @*<div class="card-read-more">
                            <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <a class="img-card">
                                <img src="~/images/pos pic.jpg" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a>
                                        Bantu POS
                                    </a>
                                </h4>
                                <p class="">
                                    This is where a member will apply for a loan to boost his/her 
                                    deposits meaning it will be transferred to the deposit account....
                                </p>
                            </div>
                            @*<div class="card-read-more">
                            <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <!--3rd Div-->
            <div class="container" style="background-color: skyblue">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <a class="img-card">
                                <img src="~/images/pexelss-fauxels-3184433.jpg" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a>
                                        Chat Bot
                                    </a>
                                </h4>
                                <p class="">
                                    Have the power to integrate Chat Bot services with your various systems ...
                                </p>
                            </div>
                            @*<div class="card-read-more">
                            <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <a class="img-card">
                                <img src="https://3.bp.blogspot.com/-bAsTyYC8U80/VtLZRKN6OlI/AAAAAAAABjY/kAoljiMALkQ/s400/material%2Bnavbar.jpg" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a>
                                        Field Force
                                    </a>
                                </h4>
                                <p class="">
                                    A very user friendly system that helps in field data collection ...
                                </p>
                            </div>
                            @*<div class="card-read-more">
                            <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>*@
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <a class="img-card">
                                <img src="~/images/servicesbg.jpg" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a>
                                        HRM Solution
                                    </a>
                                </h4>
                                <p class="">
                                    It combines software processes, hardware and other systems that help automate the payroll process ...
                                </p>
                            </div>
                            @*<div class="card-read-more">
                            <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                Read More
                            </a>
                        </div>*@
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <!--4th Div-->
            <div class="container" style="background-color: skyblue">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">
                            <div class="card-content text-md-left">
                                <h1>Opening hours</h1>
                                <p><i class="far fa-clock"></i> Monday to Friday- 7Am to 5Pm.</p>
                                <p><i class="far fa-clock"></i> Saturday and Sunday 8Am to 12Noon. </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card mt-3">

                            <div class="card-content text-md-left">
                                <h1> Contact Us</h1>
                                <p1>Bandari Plaza,Westlands. </p1>
                                <p1> <br> 51555-00100 Nairobi Kenya</p1>
                                <P1> <br> +254 770 661 242</P1>
                                <p>MAIL US : info@extrainch.co.ke </p>
                                <a href="https://extrainch.co.ke/Home/Index" class="btn btn-link btn-block">
                                    Get to know us more..
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div style="bottom:0;position: fixed; width:80%; background-color:dimgrey">
                <hr style="width:100%;" />
                <footer>
                    <p>&copy; Extrainch Technologies Ltd. @DateTime.Now.Year</p>
                </footer>
            </div>
        </div>
    </div>
</section>
